@import 'mixin.scss';
@import 'variables.scss';

.stages {
  min-height: 956px;
  @include flex(flex-start, center, column);

  &__subtitle {
    margin: 19px 0 82px 0;

    @media (min-width: $width-m) {
      margin: 13px 0 98px 0;
    }

  }

  @media (min-width: $width-m) {
    min-height: 502px;
  }
}