@import 'mixin.scss';
@import 'variables.scss';

.areas {
  box-sizing: border-box;
  min-height: 1160px;

  @media (min-width: $width-m) {
    min-height: 681px;
  }

  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 90%;
    background-color: transparent;
  }

  &__info-block {
    position: relative;
    z-index: 1000;
    width: 100%;
    min-height: 1160px;
    background-image: url(../../images/158.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    @media (min-width: 932px) {
      min-height: 1992px;
    }
  }

  &__text-block {
    padding-top: 168px;
    background-color: transparent;
  }

  &__plan {
    position: absolute;
    bottom: 3.5%;
    right: 48%;
    transform: translate(48%);
    background-color: transparent;
    height: 418px;
    width: 344px;

    @media (min-width: $width-s) {
      width: 41.13%;
      height: 36.09%;
    }

    @media (min-width: 932px) {
      max-height: 725px;
      width: 100%;
      height: 100%;
      bottom: 3%;
    }
    
  }

  &__blocks {
    margin-top: 64px;
    background-color: transparent;
    @include flex(flex-start, center, column);

    @media (min-width: $width-m) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    } 

  }

}

.block {
  @include flex(flex-start, center, column);
  margin: 0 0 29px 0;
  background-color: transparent;

  &__icon {
    margin: 0;
    background-color: inherit;
    width: 40px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $width-m) {
      width: 65px;
      height: 48px;
    } 
  }

  &__title {
    max-width: 392px;
    background-color: inherit;
    display: block;
    margin: 19px 0 10px 0;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: $primary_color_text;

    @media (min-width: $width-m) {
      font-size: 24px;
    } 

  }

  &__text {
    background-color: inherit;
    max-width: 319px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;

    @media (min-width: $width-m) {
      font-size: 18px;
      max-width: 392px;
    } 

  }

  :last-child {
    margin: 0;
  }

}