@import 'variables.scss';
// h1-h2
@mixin title($prop){
  margin: 0;
  // padding: 0;
  font-family: $main-font;
  font-style: normal;
  color: $primary_color_text;

  @media (min-width: $width-xl) {
    font-size: 64px;
    line-height: 90%;
    }

  @if($prop == 'secondary') {
    font-weight: 400;
    font-size: 36px;
    font-height: 90%;
  }

  @if($prop == 'main') {
    font-weight: 300;
    font-size: 36px;
    line-height: 100%;
  }

}

//h3
@mixin subtitle {
  font: {
    family: $main-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.1px;
  }
  color: $primary_color_text;
  // margin: 0;
  // padding: 0;

  @media (min-width: $width-xl) {
    font-size: 22px;
    }
}
//bold in list
@mixin bold {
  font: {
    family: $main-font;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }
  color: $primary_color;
  margin: 0;
  padding: 0;

  @media (min-width: $width-xl) {
    font-size: 18px;
    }
}
//button text
@mixin button-text {
  box-sizing: border-box;
  font-family: $main-font;
  font-weight: 300;
  font-size: 18px;
  line-height: 9%;
  color: $color_light_grey;
  text-decoration: none;
}
//flex
@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//standart button
@mixin button {
  @include flex;
  position: relative;
  overflow: hidden;
  border: $primary_color solid 1px;
  padding: 25px 40px;
  border-radius: 50px;
}
