//color
$primary_color: #F8F8F8;
$primary_color_text: #1D1F1D;

$brand_color: #314C51;
$color_grey: #858685;
$color_light_grey:#CFD3D0;


//ширина экрана
$width-xs: 460px;
$width-s: 768px;
$width-m: 1024px;
$width-l: 1300px;
$width-xl: 1512px;

//шрифт
$main-font: 'Montserrat';





